#container {
  width: 800px;
  height: 500px;
}

#front_panel {
  margin: auto;
  width: 500px;
  height: 300px;
  border-color: black;
  border-style: solid;
}

#display {
  width: 350px;
  height: 200px;
  border-style: solid;
  border-color: black;
  margin-left: 75px;
  margin-top: 30px;
}

#controls {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  border-style: groove;
  border-color: inherit;
  border-width: thin;

}

#temperature {
  height: 100px;
  font-family: monospace;
  font-size: 60px;
  font-style: normal;
  padding-left: 150px;
}


#error {
    position: absolute;
    width: inherit;

    font-family: monospace;
    /*padding: 0px;*/
    margin: 0px;
    text-align: center;
}

#buttons {
    float: left;
}

#button

#power-saving {
  margin-left: 20px;
  float: left;
}

#test {
  color: red;
}
